* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  font-size: 100%;
  background-color: #bad7e9;
}

.square {
  width: 90px;
  height: 90px;
  border: 2px solid #fcffe7;
  border-radius: 10px;
  font-size: 5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #2b3467;
}

.X {
  color: #eb455f;
}

.O {
  color: #fcffe7;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
  height: 300px;
  padding: 10px;
  background-color: #fcffe7;
  border-radius: 10px;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.status {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2rem;
  color: #2b3467;
}

.game {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

.undoRedo {
  padding: 10px;
  border-radius: 0 0 10px 10px;
  background-color: #fcffe7;
}

.undo,
.redo {
  cursor: pointer;
  margin: 0.2rem;
  font-size: 2rem;
  border-radius: 10px;
  border: 0px;
  background-color: #2b3467;
  color: #fcffe7;
}

.redo {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
